header {
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #1a1a1a;
    color: #F2F2F2;
    padding: 10px;

    font-family: Arial;
    letter-spacing: 4px;
    font-style: italic;
}

h4{
    margin-top: -38px;
    font-family: 'Times New Roman', Times, serif;
    color: #afafaf;
}

body {
    margin: 0;
    background-color: #F2F2F2;
}

div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

img {
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

h3 {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    padding: 5px;
    background-color: #313131;
    color: #F2F2F2;

    padding: 31px;
    justify-content: space-between;
    border-radius: 20px/20px;
    margin-left: 20px;
    font-family: Arial;
}

a {
    color: #4497f0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

a:hover{
    color: #f04444;
}

footer {
    background-color: #1a1a1a;
    color: #F2F2F2;
    text-align: center;
    bottom: 0;
    width: 100%;
    bottom: 0;
    position: fixed;
    font-family: Arial;
    letter-spacing: 1px;
    font-style: italic;
    margin-top: 20px; 
}
